<h1>top_page</h1>
<h2>管理者</h2>
　<%= link_to "Log in", new_admin_session_path %>
　<%= link_to "sign up", new_admin_registration_path %>
<h2>ユーザー</h2>
 <%= link_to "Log in", new_end_user_session_path %>
 <%= link_to "sign up", new_end_user_registration_path %>