<h1>ユーザー一覧</h1>
<table>
	<thead>
		<tr>
			<th>会員ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @end_users.each do |end_user| %>
			<tr>
				<td><%= end_user.id %></td>
	            <td><%= end_user.name %></td>
	            <td><%= end_user.email %></td>

	            <% if end_user.deleted_at != nil%>
	             <td>退会済</td>
	            <% else %>
	             <td>有効</td>
			</tr>
	    <% end %>
	</tbody>
</table>

